#PyCharm settings
/.idea

#Python cache
/python_files/__pycache__

#Python files
/python_files/config.py

#Project settings
main.pyproject.user

#Images
/images/temp_image.jpg
/images/thriller.jpg

#SQL Database
VYNL_Database

